* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;

    .card {
        background: #000000d0;
        color: white;
        padding: 2em;
        border-radius: 1.875rem;
        width: 100%;
        max-width: 26.25rem;
        margin: 1em;

        .search {
            display: flex;
            align-items: center;
            justify-content: center;

            input {
                border: none;
                outline: none;
                padding: 0.4em 1em;
                border-radius: 1.5rem;
                background: #7c7c7c2b;
                color: white;
                font-family: inherit;
                font-size: 105%;
                width: calc(100% - 6.25rem);
            }

            button {
                margin: 0.5em;
                border-radius: 50%;
                border: none;
                height: 2.75rem;
                width: 2.75rem;
                outline: none;
                background: #7c7c7c2b;
                color: white;
                cursor: pointer;
                transition: 0.2s ease-in-out;
            }

            button:hover {
                background: #7c7c7c6b;
            }
        }

        .loading {
            visibility: hidden;
            max-height: 1.25rem;
            position: relative;

            .temp {
                margin: 0;
                margin-bottom: 0.4em;
            }

            .flex {
                display: flex;
                align-items: center;

                .description {
                    text-transform: capitalize;
                    margin-left: 0.5rem;
                }
            }
        }

        .weather.loading:after {
            visibility: visible;
            content: "Loading...";
            color: white;
            position: absolute;
            top: 0;
            left: 1.25rem;
        }
    }
}